doctype html
html(lang='en')

  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    
  body
    block content
    // This order is really important
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/lzstring.min.js')
    script(src='/js/light.js')
    // Initiates Light server
    script.
      var light_server = new Light({
                             baseUrl: 'views',
                             html: ['login', 'submit']
                         });

